@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* GLOBAL VARIABLES */
:root {
    --containershadow: #a3b18a;
    --offwhite: #e7e5de;
    --white: #fdfdfd;
    --text: #175872;
    --textshadow: #5b8a6f;
    --button: #237a49;
    --buttonshadow: #133622;
}

/* GLOBAL ELEMENTS */
html, body{
    height: 100%;
    background-image: linear-gradient(to top right,var(--offwhite),var(--offwhite));
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    color: var(--text);
    font-size: 42px;
    font-weight: 300;
    margin: auto;
    margin-bottom: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  padding:10px;
  height: 100vh;
  background-color: var(--white);
  
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 15px 35px var(--containershadow);

}

.logo{
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

.button{
  background-color: var(--button);
  border: 0px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  cursor: grab;

  position: absolute;
  z-index: 99999;
}

.back{
  top: 30px;
  left: 30px;
  border-radius: 100%;
}

/* LOGIN */
.login{
  width: 60%;
}


form {
  width: 100%;
  margin: auto;
  /* transform: translateY(-40px); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #8ac926;
  margin-bottom: 15px;
  box-sizing:border-box;
  border-radius: 12px;
}

input::placeholder{
  color: #acbeb2;
}

.loginb{
  transform: translate(150px, 90px);
  /* margin-top: 75px; */
}

.signup{
  transform: translate(-35px, 60px);
  /* margin-top: 80px; */
  font-size: smaller;
  background-color: #8ac926;
}

/* SIGN UP */
.create{
  transform: translate(150px, 150px);
}

.signup-form{
  margin-top: 10px;
  width: 60%;
}

/* UPLOAD */
.captured{
  width: 80%;
}

.cameraControls {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-content: center;
}

.upload{
  margin: auto;
  margin-top: 10px;
  transform: translate(165px, 30px);
}

.retakephoto{
  margin-top: 130px;
}

/* LOADING */
.progressBar{
    position: relative;
    width: 85%;
    height: 3em;
    margin: auto;
    margin-top: 400px;
    background-image: linear-gradient(to top right,var(--button),var(--buttonshadow));
    border-radius: 1.5em;
}

.progressBar::before {
    content: '';
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    min-width: .2rem;
    max-width: calc(85% - 1em);
    width: calc(var(--width, 0) * 1%);
    background-image: linear-gradient(to top right,var(--offwhite),var(--white));
    border-radius: 1em;
    padding: 1em;
}

/* HOME */

h1home{
  color: var(--text);
  font-size: 42px;
  font-weight: 300;
  /* margin: auto; */
  /* margin-left: -400px; */
  margin-top: -200px;
  margin-bottom: 50px;
}

.home {
  width: 400px;
  overflow-y: auto;
  margin-left: 75px;
}

.home > a {
  width: 75px;
  height: 50px;
  float: left;
  border: 0px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  cursor: grab;
}

.logout > a {
  width: 50px;
  height: 25px;
  float: left;
  border: 0px;
  padding: 15px;
  /* margin: auto; */
  margin-top: 200px;
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  cursor: grab;
}

/* MEDIA QUERIES */ 
@media screen and (min-width:600px){
    .container{
        width:40vw;
        min-width: 600px;
        height: 95vh;
        min-height: 715px;
    }
} 

@media screen and (min-width: 768px) {
    #errorMsg {
        position: fixed;
        top: 32vh;
        left: 20vw;
        padding: 20px;
        z-index: 999999;
    }
 }

@media screen and (max-width: 767px) {
  .cameraControls {
    bottom: 25vh;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .form-control.webcam-on {
    top: 17vh;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .form-control.webcam-on {
    top: 16vh;
    left: 8vw;
  }
} 

 
@media screen and (max-width: 420px) {
  .form-control.webcam-start{
    width: 300px;
  }
}
