<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Food Log</title>
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="back">
				<a href="/home" id="exit-app" title="Back to Home" class="button back"><i class="material-icons">arrow_back</i></a>      
		   </div>
			<h1home>Food Log</h1home>
			<div class="card">
				<%- include('../partials/userFoodLog') %>
			</div>
		</div>
	</body>
</html>