<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=500" />
		<title>CO2nsume</title>
		<!-- <link rel="icon" type="image/png" href="/public/icons/orange.png">
		<link rel="stylesheet" href="/public/css/styles.css"> -->
		<link rel="icon" type="image/png" href="/icons/orange.png">
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="logout">
				<a href="/logout" class="iconinfo" title="Logout"><i class="material-icons top">logout</i></a>
				<a href="/info" class="iconinfo" title="More Info"><i class="material-icons top">help_outline</i></a>
			</div>
			<div id="welcome">
				<h1 class="home">Welcome Back!</h1>

				<div id="points">
					<p>100/4000</p>
				</div>

			</div>
			<img src="/icons/plant.png" width="420" height="420" style="vertical-align:top"> 
			<div class="tray">
					<a href="/menu" class="icon" title="Dining Hall Menu"><i class="material-icons">restaurant_menu</i></a> 
					<a href="/foodlog" class="icon" title="Food Log"><i class="material-icons">receipt_long</i></a>
					<a href="/upload" class="icon cam-bubble" title="Camera"><i class="material-icons cam">camera_alt</i></a>
					<a href="/stats" class="icon" title="Statistics"><i class="material-icons">analytics</i></a>
					<a href="/points" class="icon" title="Points"><i class="material-icons">monetization_on</i></a>
			</div>
			
		</div>
	</body>
</html>