<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="container">
			<h1home>Welcome Back</h1home>
			
			<div class="home">
				
					<a class="buttonh" style="background-color: rgb(255, 140, 125);">Dining Hall Menu</a> <!--href="#/Action1" -->
					<a class="buttonh" style="background-color: rgb(255, 140, 125);">Store</a>
					<a class="buttonh" style="background-color: rgb(255, 140, 125);">Statistics</a>
					<a href="/upload" class="buttonh" style="background-color: rgb(255, 140, 125);">Camera</a>
					<a class="buttonh" style="background-color: rgb(255, 140, 125);">Info</a>
					<a class="buttonh" style="background-color: rgb(255, 140, 125);">Points</a>
				

			</div>
		</div>
	</body>
</html>