<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Progress Bar</title>
        <meta name="description" content="Rutgers University Electrical & Computer Engineering Dept Capstone Project Spring 2021">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    
    <body>
     <div class="container">
        <div class="back">
            <a class="back-button" href="index.ejs">
                <img width="200" height="200" src="/icons/back.svg" style="overflow: visible">   
            </a>
        </div>
        <div class="progressBar"></div>
        <div><p id="text">Processing your image</p></div>
        <form id="f" method="post" action="/loading"></form>
     </div>
     <script>
         document.getElementById("f").submit();


            const progressBar = document.getElementsByClassName('progressBar')[0];
            //count the number of intervals that have occured
            var timesRun = 0;
            var intervalId = setInterval(() => {
                const computedStyle = getComputedStyle(progressBar);
                const width = parseFloat(computedStyle.getPropertyValue('--width')) || 0;
                progressBar.style.setProperty('--width', width + 0.2);
                if(timesRun > 100){
                    document.getElementById('text').innerText = "Sending your image through the networks";
                }
                if(timesRun > 250){
                    document.getElementById('text').innerText = "Scanning for food items";
                }
                //after 400 intervals, stop looping
                if(timesRun > 400){
                    clearInterval(intervalId);
                    document.getElementById('text').innerText = "Adding the final touches now!";
                }
                timesRun += 1;
            }, 
            //this number sets the duration of each interval in millis
            50);
        
     </script>
    </body>
</html>