<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=500" />
		<title>Dining Hall Menu Suggestions</title>
		<link rel="icon" type="image/png" href="/icons/orange.png">
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	</head>
	<body onload="alternate('thetable')">
		<div class="container">
			<div class="back">
				<a href="/home" id="exit-app" title="Back to Home" class="icon"><i class="material-icons">arrow_back</i></a>      
		   </div>
		   <h1 class="dhmenu">Dining Hall Menu Suggestions</h1>
		   <!-- <div class="getMenu">
			<form id="f" method="post" action="/getMenu"></form>
			<form method="get" action="/getMenu">
				<input class="button" type="submit" value="Get Current Menu" id='get_menu'>
			</form>
		   </div> -->
		   <div id="thetable" class="card">
				<%- include('../partials/ruMenu') %>
		   </div>
		</div>
		<script>
			function alternate(id){ 
				if(document.getElementsByTagName){  
					var table = document.getElementById(id);  	
					var rows = table.getElementsByTagName("tr"); 
					//var date=rows[1].cells[0].innerText; 
					var date=rows[1].getAttribute('name');
					var today = new Date();
						var dd = String(today.getDate()).padStart(2, '0');
						var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
						today = mm + '/' + dd;
					if (date!=today){
						document.getElementById("f").submit();
					}

					for(i = 0; i < rows.length; i++){           
					//manipulate rows 
						if(i <= 10){ 
							rows[i].style.backgroundColor = "#cdeac0";
						} else if (i <= 20){ 
							rows[i].style.backgroundColor = "#efe9ae";
						} else { 
							rows[i].style.backgroundColor = "#fec3a6";
						}       
					} 
				} 
			}
		</script>
	</body>
</html>