<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=500" />
		<title>Rewards</title>
		<link rel="icon" type="image/png" href="/icons/orange.png">
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="back">
				<a href="/home" id="exit-app" title="Back to Home" class="icon"><i class="material-icons">arrow_back</i></a>      
		   </div>
			<h1home>Rewards(sample page)</h1home>
			<h4>Coming Soon! Use this QR Code to recieve rewards from select locations</h4>
			<img src="/icons/plantQR.png" width="420" height="420" style="vertical-align:top">
		</div>
	</body>
</html>