<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CO2nsume</title>
        <meta name="description" content="Rutgers University Electrical & Computer Engineering Dept Capstone Project Spring 2021">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    </head>
    
    <body>
     <div class="container">
      <header>
        <h1>C02nsume</h1>
      </header>

      <p id='output'><%= output %></p>
      <img width=400 src=<%=imgsrc%> id="photo" class="img-responsive"/>

    </body>

</html>
